dist/index.html
<!DOCTYPE html><html><head><meta charset="utf-8"><link rel="stylesheet" href="./css/styles.css"><body><div id="emailContent"><div class="emailHeader"><a href="#"><img src="./img/logo_large.gif" alt="Our Vineyard" class="logo"></a><div class="emailHeadlin"><h1>Main Heding here</h1></div></div><div class="emailBanner"><img src="./img/banner_large.jpg" alt="Foto of Out Vineyard"><a href="#" class="buttons">Click more</a><p class="emailOffText">Join the conversation on the WineBoard. It’s one of the richest sources of tasting notes and wine information on the web. Search for a producer or label, post question or  share tasting notes. find bargains, Find out how long to cellar that wine, check out wine and food pairings and see what others have to say about a wine or winery. Over 125,000 posts from fellow wine enthusiasts.</p><p class="emailEnjoy">Enjoy,</p><img src="./img/chris.gif" alt="Chris" class="emailAutograph"></div><div class="emailPromo clearFix"><div class="promo_1"><img src="img/promo_1_large.jpg" alt="Promo image 1" class="promo"><h3>Promo heading here</h3><p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore magna aliqua elit sed do eiusmod.</p><a href="#" class="buttons">Click more</a></div><div class="promo_2"><img src="img/promo_2_large.jpg" alt="Promo image 2" class="promo"><h3>Promo heading here</h3><p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore magna aliqua elit sed do eiusmod.</p><a href="#" class="buttons">Click more</a></div></div><div class="emailCallouts clearFix"><div class="callOut"><img src="img/icon_grapes.gif"><p>Lorem ipsum dolor sit amet conctetur adipi eiu smod incid amet idun.</p><a href="#" class="buttons">Click more</a></div><div class="callOut"><img src="img/icon_bottle.gif"><p>Lorem ipsum dolor sit amet conctetur adipi eiu smod incid amet idun.</p><a href="#" class="buttons">Click more</a></div><div class="callOut"><img src="img/icon_basket.gif"><p>Lorem ipsum dolor sit amet conctetur adipi eiu smod incid amet idun.</p><a href="#" class="buttons">Click more</a></div><div class="callOut"><img src="img/icon_camera.gif"><p>Lorem ipsum dolor sit amet conctetur adipi eiu smod incid amet idun.</p><a href="#" class="buttons">Click more</a></div></div><div class="emailFooter"><p>&copy; Your Company Name. PLEASE DO NOT REPLY TO THIS MESSAGE:</p><p>Your <a href="#">privacy</a> is important to us. Please use this link to <a href="#">unsubscribe</a><p>Lorem ipsum dolor sit amet consectetur adipi sicing elit sed do eiusmod tempor inci didunt ut labore et dolore iqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></p></div></div></body></head></html>

app/index.jade
doctype html
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet", href="./css/styles.css")
		body
			#emailContent
				.emailHeader
					a(href="#")
						img(class="logo", src="./img/logo_large.gif", alt="Our Vineyard")
					.emailHeadlin
						h1 Main Heding here
				.emailBanner
					img(src="./img/banner_large.jpg", alt="Foto of Out Vineyard")
					a(class="buttons", href="#") Click more
					p(class="emailOffText").
						Join the conversation on the WineBoard. It’s one of the richest sources of tasting notes and wine information on the web. Search for a producer or label, post question or  share tasting notes. find bargains, Find out how long to cellar that wine, check out wine and food pairings and see what others have to say about a wine or winery. Over 125,000 posts from fellow wine enthusiasts.
					p(class="emailEnjoy") Enjoy,
					img(class="emailAutograph", src="./img/chris.gif", alt="Chris")
				.emailPromo.clearFix
					.promo_1
						img(class="promo", src="img/promo_1_large.jpg", alt="Promo image 1")
						h3 Promo heading here
						p
							| Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore magna aliqua elit sed do eiusmod.
						a(class="buttons", href="#") Click more
					.promo_2
						img(class="promo", src="img/promo_2_large.jpg", alt="Promo image 2")
						h3 Promo heading here
						p
							| Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore magna aliqua elit sed do eiusmod.
						a(class="buttons", href="#") Click more
				.emailCallouts.clearFix
					.callOut
						img(src="img/icon_grapes.gif")
						p Lorem ipsum dolor sit amet conctetur adipi eiu smod incid amet idun.
						a(class="buttons", href="#") Click more
					.callOut
						img(src="img/icon_bottle.gif")
						p Lorem ipsum dolor sit amet conctetur adipi eiu smod incid amet idun.
						a(class="buttons", href="#") Click more
					.callOut
						img(src="img/icon_basket.gif")
						p Lorem ipsum dolor sit amet conctetur adipi eiu smod incid amet idun.
						a(class="buttons", href="#") Click more
					.callOut
						img(src="img/icon_camera.gif")
						p Lorem ipsum dolor sit amet conctetur adipi eiu smod incid amet idun.
						a(class="buttons", href="#") Click more
				.emailFooter
					p &copy; Your Company Name. PLEASE DO NOT REPLY TO THIS MESSAGE:
					p Your 
						a(href="#") privacy
						|  is important to us. Please use this link to 
						a(href="#") unsubscribe
						p Lorem ipsum dolor sit amet consectetur adipi sicing elit sed do eiusmod tempor inci didunt ut labore et dolore iqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
